.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  flex-direction: column;
  overflow: hidden;
}

.content .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input {
  margin: 0.5rem;
}

.form-container {
  width: 100%;
}

.form-control {
  margin: 1rem 0rem;
  display: flex;
  justify-content: space-between;
}

button {
  width: 100%;
  margin: 1rem 0;
}

.pw-confirm-form,
.pw-new-form {
  visibility: hidden;
  height: 0;
}
