.content {
  padding: 2rem 1rem;
}

.objectives {
  margin: 2rem 0rem;
}

.objective {
  margin: 1rem 0rem;
  display: flex;
}

input {
  /* border: none; */
  width: 25%;
}

input:focus,
button:focus {
  outline: none;
  /* text-decoration: underline; */
}

.btn.delete,
.btn.save {
  margin-left: 0.5rem;
}

button#save {
  visibility: hidden;
}
